In [3]:
print('Hello')

Hello

In [4]:
print(4)

4

# Header in markdown

This is now a *text*. There is **boldface** too.

Numbered list:

1. first item
2. second item

print('Hello')

In [5]:
print('Hello')

Hello

In [6]:
7*3
2+1

3

In [2]:
print(7*3)
print(2+1)

21
3

$\sum_{i=1}^{N} 2^{-i} \approx 1$

In [22]:
age = 42
first_name = 'Ahmed'
print(first_name)

Ahmed

In [11]:
print(first_name, 'is', age, 'years old')
print('Done')

Ahmed is 42 years old
Done

In [14]:
last_name = 'Smith'
print(last_name)

Smith

In [16]:
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'print(7*3)\nprint(2+1)',
  'print(7*3)\nprint(2+1)',
  "print('Hello')",
  'print(4)',
  "print('Hello')",
  '7*3\n2+1',
  "age = 42\nfirst_name = 'Ahmed'",
  "age = 42\nfirst_name = 'Ahmed'\nprint(first_name)",
  "print(first_name, 'is', age, 'years old')",
  "print(first_name, 'is', age, 'years old')\nprint(Done)",
  "print(first_name, 'is', age, 'years old')\nprint('Done')",
  "last_name = 'Smith\nprint(last_name)'",
  "last_name = 'Smith'\nprint(last_name)",
  "last_name = 'Smith'\nprint(last_name)",
  'global',
  'globals()'],
 '_oh': {6: 3},
 '_dh': ['C:\\Users\\Szilvi\\Documents\\projects\\szilvi-conversion\\code'],
 'In': ['',
  'print(7*3)\nprint(2+1)',
  'print(7*3)\nprint(2+1)',
  "print('Hello')",
  'print(4)',
  "print('Hello')",
  '7*3\n2+1',
  "age = 42\nfirst_name = 'Ahmed'",
  "age = 42\nfirst_name = 'Ahmed'\nprint(first_name)",
  "print(first_name, 'is', age, 'years old')",
  "print(first_name, 'is', age, 'years old')\nprint(Done)",
  "print(first_name, 'is', age, 'years old')\nprint('Done')",
  "last_name = 'Smith\nprint(last_name)'",
  "last_name = 'Smith'\nprint(last_name)",
  "last_name = 'Smith'\nprint(last_name)",
  'global',
  'globals()'],
 'Out': {6: 3},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000002041630C910>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x204163c1280>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x204163c1280>,
 '_': 3,
 '__': '',
 '___': '',
 '_i': 'global',
 '_ii': "last_name = 'Smith'\nprint(last_name)",
 '_iii': "last_name = 'Smith'\nprint(last_name)",
 '_i1': 'print(7*3)\nprint(2+1)',
 '_i2': 'print(7*3)\nprint(2+1)',
 '_i3': "print('Hello')",
 '_i4': 'print(4)',
 '_i5': "print('Hello')",
 '_i6': '7*3\n2+1',
 '_6': 3,
 '_i7': "age = 42\nfirst_name = 'Ahmed'",
 'age': 42,
 'first_name': 'Ahmed',
 '_i8': "age = 42\nfirst_name = 'Ahmed'\nprint(first_name)",
 '_i9': "print(first_name, 'is', age, 'years old')",
 '_i10': "print(first_name, 'is', age, 'years old')\nprint(Done)",
 '_i11': "print(first_name, 'is', age, 'years old')\nprint('Done')",
 '_i12': "last_name = 'Smith\nprint(last_name)'",
 '_i13': "last_name = 'Smith'\nprint(last_name)",
 'last_name': 'Smith',
 '_i14': "last_name = 'Smith'\nprint(last_name)",
 '_i15': 'global',
 '_i16': 'globals()'}

In [18]:
who

age	 first_name	 last_name

In [23]:
age = age+3
print ('Age in years:', age)

Age in years: 45

In [25]:
atom_name='helium'
print(atom_name[0])

h

In [27]:
atom_name[1]

'e'

In [29]:
print(atom_name[0:3])

hel

In math, [i:j] means the set [i:j)

In [30]:
print (len(atom_name))

6

In [45]:
x=1.0
print (x,y,swap)
y=3.0
print (x,y,swap)
swap=x
print (x,y,swap)

1.0 1 1
1.0 3.0 1
1.0 3.0 1.0

In [46]:
x=y
print (x,y,swap)

3.0 3.0 1.0

In [47]:
y=swap
print (x,y,swap)

3.0 1.0 1.0

In [44]:
name = "Emili's name"
quote = 'She said "hi"'
print (name)
print(quote)

Emili's name
She said "hi"

In [52]:
initial = 'left'
position = initial
initial = 'right'
print (position, initial)

left right

In [51]:
who

age	 atom_name	 first_name	 initial	 last_name	 name	 position	 quote	 swap
x	 y

In [53]:
type (42)

int

In [54]:
type('Ahmed')

str

In [57]:
first_name[0]

'A'

In [61]:
age1=42
age1[0]

TypeError: 'int' object is not subscriptable

In [60]:
type(str(42))

str

In [64]:
type(int('42'))

int

In [66]:
age1+3

45

In [67]:
first_name+3

TypeError: can only concatenate str (not "int") to str

In [70]:
first_name+' '+last_name

'Ahmed Smith'

In [72]:
'=' *10

'=========='

In [76]:
ahmed_cake = 'i' *age1
print(ahmed_cake)
len (ahmed_cake)

iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii

42

In [80]:
first_name.upper()

'AHMED'

$y=f(x)$

In [82]:
type(first_name.upper())

str

In [84]:
first_name.upper().lower()

'ahmed'

$y=g(x)$ and $x=h(z)$ then $y=g(h(z))$

In [89]:
first_name='ahmed 1'
first_name.upper().lower()[-1]
int(first_name.upper().lower()[-1])
type(first_name.upper().lower()[-1])

str

In [91]:
type(0.5)

float

In [92]:
1/2

0.5

In [94]:
type(1/0.5)

float

In [95]:
first_name[1]

'h'

In [98]:
social_security_number = '0123456'

# Functions

In [99]:
print('Hello')

Hello

In [101]:
max(1,2,3)

3

In [106]:
def convert_feet_to_inches(feet):
    #one foot is 12 inches
    return feet*12

In [105]:
type(convert_feet_to_inches)

function

In [108]:
convert_feet_to_inches(5)

60

In [110]:
def empty_function():
    2+2
    'Ahmed'.lower()
empty_function()
#no return

In [112]:
height=convert_feet_to_inches(5)
what_is_this=empty_function()
print(height)
print(what_is_this)

60
None

In [113]:
print(what_is_this*5)

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [115]:
def add_feet_and_inches(feet, inches):
    return feet * 12 + inches

In [118]:
height=add_feet_and_inches(5,11)
print(height)

71

In [120]:
feet=7
print(height)
#does not change the fett inside the function

71

In [122]:
add_feet_and_inches

In [124]:
add_feet_and_inches(inches=11, feet=5)
#if I name the variables, the order does not matter

71

In [125]:
def print_date(year, month, day):
    print(year, '/', month, '/', day)

In [127]:
print_date(2020,11,12)

2020 / 11 / 12

In [129]:
result=print_date(1871,3,19)
print('Result is:', result)

1871 / 3 / 19
Result is: None

In [2]:
def convert_pounds_to_kg(pound):
    return pound*0.45359

# November 17

# lists, loops and dictionaries

In [2]:
print(type(5))
print(type(5.0))
print(type("5"))

<class 'int'>
<class 'float'>
<class 'str'>

In [8]:
type(True), type(False)

(bool, bool)

bool has two values: true or false

# Lists

In [40]:
pressures = [0.273, 0.275, 0.277, 0.275, 0.276]
type(pressures)

list

In [13]:
print('pressures: ', pressures)
print('length: ', len(pressures))

pressures:  [0.273, 0.275, 0.277, 0.275, 0.276]
length:  5

In [16]:
pressures[0]

0.273

In [18]:
pressures_tuple=(1,2,3)
type(pressures_tuple)

tuple

In [20]:
pressures[0:2]

[0.273, 0.275]

In [29]:
pressures

[0.9, 0.273, 0.275, 0.277, 0.275, 0.276, 0.4, 0.4]

lists are mutable
tuples are inmutable

In [23]:
len(pressures)

5

In [41]:
pressures.append(0.4)
# adding and element to the end of the list
pressures

[0.273, 0.275, 0.277, 0.275, 0.276, 0.4]

In [42]:
pressures.insert(0, 0.9)
pressures

[0.9, 0.273, 0.275, 0.277, 0.275, 0.276, 0.4]

In [43]:
other_sensor=[1.2, 1.3]
pressures.append(other_sensor)
pressures

[0.9, 0.273, 0.275, 0.277, 0.275, 0.276, 0.4, [1.2, 1.3]]

In [45]:
len(pressures)

8

In [47]:
print(type(pressures[7]))
pressures[7][0]

<class 'list'>

1.2

In [48]:
del pressures[7]

In [49]:
pressures

[0.9, 0.273, 0.275, 0.277, 0.275, 0.276, 0.4]

In [50]:
pressures.extend(other_sensor)

In [51]:
pressures

[0.9, 0.273, 0.275, 0.277, 0.275, 0.276, 0.4, 1.2, 1.3]

append list-ként rakja hozzá, extend elemenként bővíti

In [52]:
first_sensor =[0.5, 0.6]

In [53]:
first_sensor+other_sensor

[0.5, 0.6, 1.2, 1.3]

the extend actually changed the original list, adding them together makes a new list, leaving originals unchanged

In [54]:
empty_list=[]

In [55]:
len(empty_list)

0

In [56]:
empty_list[0]

IndexError: list index out of range

In [57]:
empty_list.append('a')

In [58]:
empty_list

['a']

In [59]:
collection_of_things =[1, 1.4, 'text']

In [61]:
type(collection_of_things[1])

float

In [63]:
element='carbon'

In [64]:
element[0]

'c'

string is kinda a list of the characters, but like tuples, we cannot change it by elements

In [65]:
element[0]='C'

TypeError: 'str' object does not support item assignment

In [67]:
values = []
values.append(1)
values.append(3)
values.append(5)
print('first time:', values)
values = values[1:3]
print('second time:', values)

first time: [1, 3, 5]
second time: [3, 5]

In [69]:
list_of_words =['apple', 'banana', 'date']
len(list_of_words)

3

In [71]:
len(list_of_words[0])
#number of characters in the first elemnt of the list which is apple

5

In [72]:
string_of_words='apple,banana,date'
type(string_of_words)

str

In [74]:
string_of_words.split(',')

['apple', 'banana', 'date']

In [76]:
date='1994/01/01'
date.split('/')

['1994', '01', '01']

In [80]:
adress='1100, Favouriten, Quellenstrasse, 51'
adress.split(', ')

['1100', 'Favouriten', 'Quellenstrasse', '51']

In [86]:
sentence='The quick brown fox jumped over.'
list_of_word=sentence.split()
len(list_of_word)

6

In [87]:
len(sentence)

32

In [89]:
''.join(list_of_word)

'Thequickbrownfoxjumpedover.'

In [95]:
messy_sentence='The     quick brown\t    fox'

In [96]:
tidy_sentence=' '.join(messy_sentence.split())

In [97]:
tidy_sentence

'The quick brown fox'

In [102]:
print('Here.\t\t There.')
print('The tab character is \\t.')
print('First line.\nSecond line.')

Here.		 There.
The tab character is \t.
First line.
Second line.

\t is a tab
\n is new line

In [104]:
longer_text='First line.\nSecond line.\nThird line.'
longer_text.splitlines()

['First line.', 'Second line.', 'Third line.']

# For loops

In [107]:
for number in [2,3,5]:
    print(number)

2
3
5

In [108]:
for number in [2,3,5]:
    print(number)
print(number+1)

2
3
5
6

In [111]:
for i in [2,3,4]:
    print(i**2)

4
9
16

In [112]:
for fruit in ['apple', 'banana', 'date']:
    print(fruit.upper())

APPLE
BANANA
DATE

In [113]:
primes=[2,3,5]
for p in primes:
    squared=p**2
    cubed=p**3
    print(p, squared, cubed)
print('Done')

2 4 8
3 9 27
5 25 125
Done

In [115]:
for number in range(5):
    print(number)

0
1
2
3
4

In [117]:
for number in range(1,5):
    print(number)

1
2
3
4

In [121]:
for number, word in enumerate(list_of_word):
    print('Word number', number, 'is', word)

Word number 0 is The
Word number 1 is quick
Word number 2 is brown
Word number 3 is fox
Word number 4 is jumped
Word number 5 is over.

In [123]:
list(enumerate(list_of_word))

[(0, 'The'),
 (1, 'quick'),
 (2, 'brown'),
 (3, 'fox'),
 (4, 'jumped'),
 (5, 'over.')]

In [124]:
pressures

[0.9, 0.273, 0.275, 0.277, 0.275, 0.276, 0.4, 1.2, 1.3]

In [128]:
total_pressure=0.0
for p in pressures:
    total_pressure=total_pressure+p
print(total_pressure)

5.175999999999999

In [130]:
sum(pressures)

5.175999999999999

In [135]:
new_list_of_words =[]
for word in list_of_word:
    new_list_of_words.append(word.upper())
print(new_list_of_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPED', 'OVER.']

In [137]:
def hello_word():
    print('Hello word.')
hello_word()

Hello word.

# Conditionals (if/else)

In [140]:
mass=3.54
if mass>3.0:
    print(mass, 'is large')

3.54 is large

In [142]:
mass=3.0
if mass>3.0:
    print(mass, 'is large')

In [144]:
3.54>3.0

True

In [146]:
mass =2.0
if mass >3.0:
    print(mass, 'is large')
else: 
    print(mass, 'is small')

2.0 is small

In [150]:
masses=[3.54, 2.07, 9.22, 1.86, 1.71]
for mass in masses:
    if mass > 3.0:
        print(mass, 'is large')
    else:
        print(mass, 'is small')

3.54 is large
2.07 is small
9.22 is large
1.86 is small
1.71 is small

In [152]:
m=1.71

In [153]:
def square(m):
    return m**2
print(square(3))
print(m)

9
1.71

In [154]:
for mass in masses:
    if mass > 6.0:
        print(mass)
        break

9.22

In [156]:
for mass in masses:
    print('Looking at', mass)
    if mass > 6.0:
        print('Found', mass)
        break

Looking at 3.54
Looking at 2.07
Looking at 9.22
Found 9.22

In [158]:
score= 86
if score <= 70:
    print('Grade is C.')
elif score <= 85:
    print('Grade is B.')
else :
    print('Grade is A.')

Grade is A.

In [163]:
def grade(score):
    if score <= 70:
        return 'C'
    elif score <= 85:
        return 'B'
    else :
        return 'A'
grade(86)

'A'

In [165]:
def grade(score):
    if score <= 70:
        return 'C'
    elif score <= 85:
        return 'B'
    return 'A'
grade(86)

'A'

In [171]:
grading_rubric={'A':85, 'B':70, 'C':50}
grading_rubric

{'A': 85, 'B': 70, 'C': 50}

In [169]:
type(grading_rubic)

dict

dictionary is a collection of keys and values

In [174]:
grading_rubric['A']

85

# Dictionary
key:value
valuses can be strings, numbers or even lists
keys can be

In [179]:
john_entry={'name':'John', 'phone':'212-213-45678'}
salima_entry={'name':'Salima', 'phone':['617-123-45678', '212-222-22222']}

In [180]:
salima_entry['phone']

['617-123-45678', '212-222-22222']

In [181]:
students={1: john_entry, 2: salima_entry}

In [183]:
print(students)

{1: {'name': 'John', 'phone': '212-213-45678'}, 2: {'name': 'Salima', 'phone': ['617-123-45678', '212-222-22222']}}

In [184]:
students[1]

{'name': 'John', 'phone': '212-213-45678'}

In [186]:
students[1]['phone']

'212-213-45678'

In [189]:
students[2]['phone'][0]

'617-123-45678'

In [190]:
rubric={'A': (85,100), 'B':(70,84)}

In [191]:
grading_rubric

{'A': 85, 'B': 70, 'C': 50}

In [195]:
def grade(score, rubric):
    for key in grading_rubric:
        if score>=rubric[key]:
            return key

In [194]:
for item in grading_rubric:
        print(item, grading_rubric[item])

A 85
B 70
C 50

In [198]:
grade(0, grading_rubric)

In [199]:
def grade(score, rubric):
    for key in grading_rubric:
        if score>=rubric[key]:
            return key
    return 'F'

In [200]:
grade(0, grading_rubric)

'F'

In [201]:
more_lenient=grading_rubric
more_lenient['C']=40
grade(48, more_lenient)

'C'

In [203]:
more_lenient

{'A': 85, 'B': 70, 'C': 40}

In [204]:
john_entry

{'name': 'John', 'phone': '212-213-45678'}

In [206]:
john_entry['phone']='718-123-45678'
john_entry

{'name': 'John', 'phone': '718-123-45678'}

In [207]:
grading_rubric

{'A': 85, 'B': 70, 'C': 40}

In [210]:
list_of_fruits=['apple', 'banana', 'date', 'carrot']
list_of_vegetables=list_of_fruits

In [221]:
def factorial(n):
    output=1
    for i in range(1,n+1):
        output=i*output
    return output

factorial(4)

24

In [228]:
def factorial(n):
    output=n
    for i in range(1,n):
        output=i*output
    return output

factorial(4)

24