In [3]:
print('Hello')

Hello

In [4]:
print(4)

4

# Header in markdown

This is now a *text*. There is **boldface** too.

Numbered list:

1. first item
2. second item

print('Hello')

In [5]:
print('Hello')

Hello

In [6]:
7*3
2+1

3

In [2]:
print(7*3)
print(2+1)

21
3

$\sum_{i=1}^{N} 2^{-i} \approx 1$

In [22]:
age = 42
first_name = 'Ahmed'
print(first_name)

Ahmed

In [11]:
print(first_name, 'is', age, 'years old')
print('Done')

Ahmed is 42 years old
Done

In [14]:
last_name = 'Smith'
print(last_name)

Smith

In [16]:
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'print(7*3)\nprint(2+1)',
  'print(7*3)\nprint(2+1)',
  "print('Hello')",
  'print(4)',
  "print('Hello')",
  '7*3\n2+1',
  "age = 42\nfirst_name = 'Ahmed'",
  "age = 42\nfirst_name = 'Ahmed'\nprint(first_name)",
  "print(first_name, 'is', age, 'years old')",
  "print(first_name, 'is', age, 'years old')\nprint(Done)",
  "print(first_name, 'is', age, 'years old')\nprint('Done')",
  "last_name = 'Smith\nprint(last_name)'",
  "last_name = 'Smith'\nprint(last_name)",
  "last_name = 'Smith'\nprint(last_name)",
  'global',
  'globals()'],
 '_oh': {6: 3},
 '_dh': ['C:\\Users\\Szilvi\\Documents\\projects\\szilvi-conversion\\code'],
 'In': ['',
  'print(7*3)\nprint(2+1)',
  'print(7*3)\nprint(2+1)',
  "print('Hello')",
  'print(4)',
  "print('Hello')",
  '7*3\n2+1',
  "age = 42\nfirst_name = 'Ahmed'",
  "age = 42\nfirst_name = 'Ahmed'\nprint(first_name)",
  "print(first_name, 'is', age, 'years old')",
  "print(first_name, 'is', age, 'years old')\nprint(Done)",
  "print(first_name, 'is', age, 'years old')\nprint('Done')",
  "last_name = 'Smith\nprint(last_name)'",
  "last_name = 'Smith'\nprint(last_name)",
  "last_name = 'Smith'\nprint(last_name)",
  'global',
  'globals()'],
 'Out': {6: 3},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000002041630C910>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x204163c1280>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x204163c1280>,
 '_': 3,
 '__': '',
 '___': '',
 '_i': 'global',
 '_ii': "last_name = 'Smith'\nprint(last_name)",
 '_iii': "last_name = 'Smith'\nprint(last_name)",
 '_i1': 'print(7*3)\nprint(2+1)',
 '_i2': 'print(7*3)\nprint(2+1)',
 '_i3': "print('Hello')",
 '_i4': 'print(4)',
 '_i5': "print('Hello')",
 '_i6': '7*3\n2+1',
 '_6': 3,
 '_i7': "age = 42\nfirst_name = 'Ahmed'",
 'age': 42,
 'first_name': 'Ahmed',
 '_i8': "age = 42\nfirst_name = 'Ahmed'\nprint(first_name)",
 '_i9': "print(first_name, 'is', age, 'years old')",
 '_i10': "print(first_name, 'is', age, 'years old')\nprint(Done)",
 '_i11': "print(first_name, 'is', age, 'years old')\nprint('Done')",
 '_i12': "last_name = 'Smith\nprint(last_name)'",
 '_i13': "last_name = 'Smith'\nprint(last_name)",
 'last_name': 'Smith',
 '_i14': "last_name = 'Smith'\nprint(last_name)",
 '_i15': 'global',
 '_i16': 'globals()'}

In [18]:
who

age	 first_name	 last_name

In [23]:
age = age+3
print ('Age in years:', age)

Age in years: 45

In [25]:
atom_name='helium'
print(atom_name[0])

h

In [27]:
atom_name[1]

'e'

In [29]:
print(atom_name[0:3])

hel

In math, [i:j] means the set [i:j)

In [30]:
print (len(atom_name))

6

In [45]:
x=1.0
print (x,y,swap)
y=3.0
print (x,y,swap)
swap=x
print (x,y,swap)

1.0 1 1
1.0 3.0 1
1.0 3.0 1.0

In [46]:
x=y
print (x,y,swap)

3.0 3.0 1.0

In [47]:
y=swap
print (x,y,swap)

3.0 1.0 1.0

In [44]:
name = "Emili's name"
quote = 'She said "hi"'
print (name)
print(quote)

Emili's name
She said "hi"

In [52]:
initial = 'left'
position = initial
initial = 'right'
print (position, initial)

left right

In [51]:
who

age	 atom_name	 first_name	 initial	 last_name	 name	 position	 quote	 swap
x	 y

In [53]:
type (42)

int

In [54]:
type('Ahmed')

str

In [57]:
first_name[0]

'A'

In [61]:
age1=42
age1[0]

TypeError: 'int' object is not subscriptable

In [60]:
type(str(42))

str

In [64]:
type(int('42'))

int

In [66]:
age1+3

45

In [67]:
first_name+3

TypeError: can only concatenate str (not "int") to str

In [70]:
first_name+' '+last_name

'Ahmed Smith'

In [72]:
'=' *10

'=========='

In [76]:
ahmed_cake = 'i' *age1
print(ahmed_cake)
len (ahmed_cake)

iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii

42

In [80]:
first_name.upper()

'AHMED'

$y=f(x)$

In [82]:
type(first_name.upper())

str

In [84]:
first_name.upper().lower()

'ahmed'

$y=g(x)$ and $x=h(z)$ then $y=g(h(z))$

In [89]:
first_name='ahmed 1'
first_name.upper().lower()[-1]
int(first_name.upper().lower()[-1])
type(first_name.upper().lower()[-1])

str

In [91]:
type(0.5)

float

In [92]:
1/2

0.5

In [94]:
type(1/0.5)

float

In [95]:
first_name[1]

'h'

In [98]:
social_security_number = '0123456'

# Functions

In [99]:
print('Hello')

Hello

In [101]:
max(1,2,3)

3

In [106]:
def convert_feet_to_inches(feet):
    #one foot is 12 inches
    return feet*12

In [105]:
type(convert_feet_to_inches)

function

In [108]:
convert_feet_to_inches(5)

60

In [110]:
def empty_function():
    2+2
    'Ahmed'.lower()
empty_function()
#no return

In [112]:
height=convert_feet_to_inches(5)
what_is_this=empty_function()
print(height)
print(what_is_this)

60
None

In [113]:
print(what_is_this*5)

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [115]:
def add_feet_and_inches(feet, inches):
    return feet * 12 + inches

In [118]:
height=add_feet_and_inches(5,11)
print(height)

71

In [120]:
feet=7
print(height)
#does not change the fett inside the function

71

In [122]:
add_feet_and_inches

In [124]:
add_feet_and_inches(inches=11, feet=5)
#if I name the variables, the order does not matter

71

In [125]:
def print_date(year, month, day):
    print(year, '/', month, '/', day)

In [127]:
print_date(2020,11,12)

2020 / 11 / 12

In [129]:
result=print_date(1871,3,19)
print('Result is:', result)

1871 / 3 / 19
Result is: None

In [2]:
def convert_pounds_to_kg(pound):
    return pound*0.45359